$primary-orange: hsl(35, 77%, 62%);
$primary-red: hsl(5, 85%, 63%);
$neutral-off-white: hsl(36, 100%, 99%);
$neutral-grayish-blue: hsl(233, 8%, 79%);
$neutral-dark-grayish-blue: hsl(236, 13%, 42%);
$neutral-dark-blue: hsl(240, 100%, 5%);

body { 
    font-family: inter-regular;
}

.navbar-brand { font-family: abril; }
.bold-font { font-family: inter-bold; }

.main-bg { 
    background-color: $neutral-off-white; 
    padding: 45px 220px 45px 220px;
}

img { width: 100%; }

.w-45 { width: 45%; }
.w-70 { width: 70%; }

.bg-dark-blue {  background-color: $neutral-dark-blue; }

// Text colors
.text-gray { color: $neutral-grayish-blue; }
.text-dark-blue { color: $neutral-grayish-blue; }
.text-black { color: black; }
.white-text { color: white; }
.text-orange { color: $primary-orange; }
.hover-text-red:hover,
.offcanvas-body .navbar-nav .nav-link:hover { color: $primary-red; }
.hover-text-orange:hover { color: $primary-orange; }

.fw-semibold { font-weight: 600; }
.char-apart { letter-spacing: 5px; }

// Buttons
.btn { 
    background-color: $primary-red;
    padding: 12px 20px 12px 20px;
}
.btn:hover { background-color: black; }
.btn:focus,
.offcanvas-header button:focus, 
.navbar-toggler:focus { 
    outline: none;
    box-shadow: none;
}

// Font sizes
.fs-9 { font-size: 11px; }
.fs-10 { font-size: 18px; }
.fs-large { font-size: 45px; }
.f-larger { 
    font-family: inter-extrabold; 
    font-size: 55px; 
    font-weight: 800; 
    line-height: 55px;
}

// Media queries
@media screen and (max-width: 768px) { 
    body { padding: unset; }
    .main-bg { padding: 20px; }
    .offcanvas-body .navbar-nav .nav-link { color: black; }
    .w-45 { width: unset;}
    .shapes-container {
        display: none;
    }
}

@media screen and (min-width: 968px) {
 .navbar .offcanvas {
    position: static;
    z-index: auto;
    flex-grow: 1;
    width: auto;
    height: auto;
    visibility: visible;
    background-color: transparent;
    border: 0;
    transform: none;
    transition: none;
 }
}



