@font-face {
    font-family: abril;
    src: url('../assets/fonts/static/AbrilFatface-Regular.ttf');
}
@font-face {
    font-family: inter;
    src: url('../assets/fonts/Inter-VariableFont_slnt\,wght.ttf');
}
@font-face {
    font-family: inter-bold;
    src: url('../assets/fonts/static/Inter-Bold.ttf');
}
@font-face {
    font-family: inter-extrabold;
    src: url('../assets/fonts/static/Inter-ExtraBold.ttf');
}
@font-face {
    font-family: inter-regular;
    src: url('../assets/fonts/static/Inter-Regular.ttf');
}